body{
	/*background:#48d1cc;*/
	background:#d0d0d0; 
	font-family:Sylfaen;
}

div{
	text-align:center;
	width:auto; 
	border:none;
}

#links{
	position: absolute; 
	float: left; 
	width:10%; 
	height:100%;
}

h1{
}

#kompletterInhalt{
position: absolute; 
left: 10%; 
width: 80%; 
height: 100%;
}

#warning
{
	color:red; 
}

#rechts{
	position: absolute; 
	right:0%; 
	width: 10%; 
	height:100%;
}

#eingabe{
	/*
	border: 1px solid black; 
	*/
}

#eingabeTabelle{
	/*border: 1px solid black; */
	margin: 0 auto; 
}

.result_matrix
{
	width:30%; 


}

.move_button
{
	width: 15%; 
	font-size: 12px; 

}


.tdTop{
	/* border: 1px solid black; */
	text-align:center; 
}

A:link{
	text-decoration:underline;
	color:black;
}

A:visited{
	text-decoration:none;
	color:black;
}

A:active{
	text-decoration:none; 
	color:black;
}

A:hover{
	text-decoration:none;
	color:black;
}

button{
	width:160px;
}

.top_button{
	width:15%;
}

.button{
	width:160px;
}

#optionen{
	position:relative;
	width:100%;
	left:0%;
}

#ausgabe{
	position:relative;
	width:100%;
	left:0%;
}

#erklaerungsdiv{
	width: 100%; 
	position: relative; 
	left: 0%; 
	/*border: solid 2px black;*/
}

.FlattrButton{
	vertical-align:text-bottom;
}

.twitter-share-button{
	vertical-align:text-bottom;
}
